<div class="container px-5 px-sm-0">
  <%= flash[:success] %>
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <%= image_tag attachment_url(@user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg"), size:'100x100' %>
    　<table style="margin-top:-25px">
    　  <tbody>
    　    <tr></tr>
    　    <tr style="border-top: 1px solid #dee2e6">
    　      <th  style="padding:10px">name</th>
    　      <th  style="padding:10px"><%= @user.name %></th>
    　    </tr>
    　    <tr  style="border-top: 1px solid #dee2e6;padding:10px">
    　      <th  style="padding:10px">introduction</th>
    　      <th  style="padding:10px"><%= @user.introduction %></th>
    　    </tr>
    　  </tbody>
    　</table>
    　<div class="row">
    　  <a class="btn btn-outline-secondary btn-bloc fas fa-user-edit"href="/users/<%= current_user.id %>/edit", style="width:100%"></a>
    　</div>
      <%= render 'books/form' %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>User</h2>
      <table>
        <thead>
          <tr style="box-sizing: border-box;border-top: 1px solid #dee2e6;">
            <th style="width:30%; padding:12px;">image</th>
            <th style="width:35%; padding:12px">name</th>
            <th style="width:50%; padding:12px"></th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr style="box-sizing: border-box;">
              <td style="vertical-align:  middle;border-top: 1px solid #dee2e6;">
                <%= image_tag attachment_url(user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg"), size:'50x50' %>
              </td>
              <td style="padding: 0.75rem;vertical-align: middle;border-top: 1px solid #dee2e6;"><%= user.name %></td>
              <td style="padding: 0.75rem;vertical-align:  middle;border-top: 1px solid #dee2e6;"><%= link_to "show", user_path(user)%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
