<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <%= image_tag attachment_url(@book.user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg"), size:'100x100' %>
    　<table style="margin-top:-25px">
    　  <tbody>
    　    <tr></tr>
    　    <tr style="border-top: 1px solid #dee2e6">
    　      <th  style="padding:10px">name</th>
    　      <th  style="padding:10px"><%= @book.user.name %></th>
    　    </tr>
    　    <tr  style="border-top: 1px solid #dee2e6;padding:10px">
    　      <th  style="padding:10px">introduction</th>
    　      <th  style="padding:10px"><%= @book.user.introduction %></th>
    　    </tr>
    　  </tbody>
    　</table>
    　<div class="row">
    　  <a class="btn btn-outline-secondary btn-bloc fas fa-user-cog"href="/users/<%=@book.user.id %>/edit", style="width:100%"></a>
    　</div>
      <%= render 'books/form' %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table>
        <thead>
            <tr style="box-sizing: border-box;">
              <th style="vertical-align: middle;border-top: 1px solid #dee2e6; ">
                <a href="/users/<%= @book.user.id %>">
                  <%= image_tag attachment_url(@book.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg"), size:'50x50' %>
                </a>
                </br>
                <%= link_to @book.user.name, "/users/#{@book.user.id}", :style=>"font-size:12px" %>

              </th>
              <td style="padding: 0.75rem;vertical-align: middle;border-top: 1px solid #dee2e6;"><%= link_to @book.title, book_path(@book) %></td>
              <td style="padding: 0.75rem;vertical-align:  middle;border-top: 1px solid #dee2e6; "><%= @book.body %></td>
              <% if @book.user_id == current_user.id %>
    　           <td style="padding: 0.75rem;vertical-align:  middle;border-top: 1px solid #dee2e6; %" > <%= link_to "Edit", edit_book_path(@book), :class=>"btn btn-sm btn-success" %></td>&nbsp &nbsp
    　           <td style="padding: 0.75rem;vertical-align:  middle;border-top: 1px solid #dee2e6; %"><%= link_to "Destroy", book_path(@book), method: :delete,data: {confirm: "削除しますか？"}, :class=>"btn btn-sm btn-danger" %></td>
    　         <% end %>
    　         <% if @book.favorited_by?(current_user) %>
    　           <td>
                  <%= link_to book_favorites_path(@book), method: :delete do %>
                    ♥<%= @book.favorites.count %> いいね
                  <% end %>
                </td>
              <% else %>
                <td>
                  <%= link_to book_favorites_path(@book), method: :post do %>
                    ♡<%= @book.favorites.count %> いいね
                  <% end %>
                </td>
              <% end %>
            </tr>
        </thead>
      </table>
      <div class="comment">
        <p>コメント件数：<%= @book.comments.count %></p>
        <% @book.comments.each do |comment| %>
        <div>
          <%= image_tag attachment_url(comment.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg"), size:'50x50' %>
          <%= comment.user.name %>
          <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
          <% if comment.user_id == current_user.id %>
            <%= link_to "Destroy", book_comment_path(@book,comment), method: :delete, data:{confirm: "削除しますか？"}, class: "btn-sm btn-danger"%>
          <% end %>
        </div>
        <% end %>
      </div>
      <div class="new-comment">
        <%= form_with(model:[@book, @comment], local: true) do |f| %>
          <%= f.text_area :comment, size:'30x5',placeholder: "コメントをここに" %>
          <%= f.submit "Create Comment" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
